<div>
  <h1><%= @question.title %></h1>
    <% if current_enrollment.has_upvoted_question?(question) %>
    <a href="/upvotes/<%= Upvote.find_by(enrollment: current_enrollment, post: question).id %>" data-method="delete"><i class="fas fa-sort-up"></i><%= question.upvotes.count%> </a>
    <%#= link_to "<span><i class=\"fas fa-sort-up\">#{question.upvotes.count}</span>".html_safe, Upvote.find_by(enrollment: current_enrollment, post: question), method: :delete %>

  <% else %>
    <%= form_for(Upvote.new) do |f| %>
      <%= f.hidden_field :post_id, value: question.id %>
      <%= f.hidden_field :post_type, value: "Question" %>
      <%= f.hidden_field :enrollment_id, value: current_enrollment.id %>
      <button>
        <i class="fas fa-sort-up"></i><%= question.upvotes.count %>
      </button>
    <% end %>
  <% end %>
  <p>
    <%= @question.body%>
    <div>
      posted by
      <% if question.anonymous_to_all %>
        Anonymous
      <% elsif question.anonymous_to_students %>
        <%= current_enrollment.teacher? ? question.user.first_name + " (Anonymous to students)" : "Anonymous" %>
      <% else %>
        <%= question.user.first_name %>
      <% end %>
    </div>
     Last updated <%= time_ago_in_words @question.updated_at %> ago
  </p>
  <div>
    <%= @question.assignment_tag %>
  </div>
  <hr>
  <div>
    <% @question.tags.each do |tag| %>
      <span class="text-muted"><%= tag %></span>
    <% end %>
  </div>
</div>

