<tr>
  <td>
    <%= upvote.question_id %>
  </td>

  <td>
    <%= upvote.enrollment_id %>
  </td>

  <td>
    <div class="btn-group">
      <%= link_to upvote, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-search-plus fa-fw"></i>
      <% end %>

      <%= link_to edit_upvote_url(upvote), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-edit fa-fw"></i>
      <% end %>

      <%= link_to upvote, method: :delete, data: { confirm: "Do you really want to delete this upvote?" }, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-trash-alt fa-fw"></i>
      <% end %>
    </div>
  </td>
</tr>
