<% was_validated = response.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(response, html: form_html_options) do |f| %>
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = response.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>

    <%= f.text_area :body, class: body_class, placeholder: "Enter body" %>
    <% if body_was_invalid %>
      <% response.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% enrollment_id_class = "form-control" %>
    <% enrollment_id_was_invalid = response.errors.include?(:enrollment_id) %>

    <% if was_validated %>
      <% if enrollment_id_was_invalid %>
        <% enrollment_id_class << " is-invalid" %>
      <% else %>
        <% enrollment_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :enrollment_id %>

    <%= f.number_field :enrollment_id, class: enrollment_id_class, placeholder: "Enter enrollment" %>
    <% if enrollment_id_was_invalid %>
      <% response.errors.full_messages_for(:enrollment_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% question_id_class = "form-control" %>
    <% question_id_was_invalid = response.errors.include?(:question_id) %>

    <% if was_validated %>
      <% if question_id_was_invalid %>
        <% question_id_class << " is-invalid" %>
      <% else %>
        <% question_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :question_id %>

    <%= f.number_field :question_id, class: question_id_class, placeholder: "Enter question" %>
    <% if question_id_was_invalid %>
      <% response.errors.full_messages_for(:question_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% anonymous_to_all_class = "form-check-input" %>
    <% anonymous_to_all_was_invalid = response.errors.include?(:anonymous_to_all) %>

    <% if was_validated %>
      <% if anonymous_to_all_was_invalid %>
        <% anonymous_to_all_class << " is-invalid" %>
      <% else %>
        <% anonymous_to_all_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :anonymous_to_all, class: "form-check-label" do %>
      <%= f.check_box :anonymous_to_all, class: anonymous_to_all_class %> Anonymous to all
    <% end %>
    <% if anonymous_to_all_was_invalid %>
      <% response.errors.full_messages_for(:anonymous_to_all).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% anonymous_to_students_class = "form-check-input" %>
    <% anonymous_to_students_was_invalid = response.errors.include?(:anonymous_to_students) %>

    <% if was_validated %>
      <% if anonymous_to_students_was_invalid %>
        <% anonymous_to_students_class << " is-invalid" %>
      <% else %>
        <% anonymous_to_students_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :anonymous_to_students, class: "form-check-label" do %>
      <%= f.check_box :anonymous_to_students, class: anonymous_to_students_class %> Anonymous to students
    <% end %>
    <% if anonymous_to_students_was_invalid %>
      <% response.errors.full_messages_for(:anonymous_to_students).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% parent_id_class = "form-control" %>
    <% parent_id_was_invalid = response.errors.include?(:parent_id) %>

    <% if was_validated %>
      <% if parent_id_was_invalid %>
        <% parent_id_class << " is-invalid" %>
      <% else %>
        <% parent_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :parent_id %>

    <%= f.number_field :parent_id, class: parent_id_class, placeholder: "Enter parent" %>
    <% if parent_id_was_invalid %>
      <% response.errors.full_messages_for(:parent_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% marked_as_answer_class = "form-check-input" %>
    <% marked_as_answer_was_invalid = response.errors.include?(:marked_as_answer) %>

    <% if was_validated %>
      <% if marked_as_answer_was_invalid %>
        <% marked_as_answer_class << " is-invalid" %>
      <% else %>
        <% marked_as_answer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :marked_as_answer, class: "form-check-label" do %>
      <%= f.check_box :marked_as_answer, class: marked_as_answer_class %> Marked as answer
    <% end %>
    <% if marked_as_answer_was_invalid %>
      <% response.errors.full_messages_for(:marked_as_answer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% marked_good_by_instructor_class = "form-check-input" %>
    <% marked_good_by_instructor_was_invalid = response.errors.include?(:marked_good_by_instructor) %>

    <% if was_validated %>
      <% if marked_good_by_instructor_was_invalid %>
        <% marked_good_by_instructor_class << " is-invalid" %>
      <% else %>
        <% marked_good_by_instructor_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :marked_good_by_instructor, class: "form-check-label" do %>
      <%= f.check_box :marked_good_by_instructor, class: marked_good_by_instructor_class %> Marked good by instructor
    <% end %>
    <% if marked_good_by_instructor_was_invalid %>
      <% response.errors.full_messages_for(:marked_good_by_instructor).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
