<div class="card mb-3">
  <h2 class="card-header h4">
    Question Template #<%= question_template.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Context</dt>
      <dd><%= question_template.context_id %></dd>

      <dt>Name</dt>
      <dd><%= question_template.name %></dd>

      <dt>Points awarded</dt>
      <dd><%= question_template.points_awarded %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back question_template, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_question_template_url(question_template), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to question_template, method: :delete, data: { confirm: "Do you really want to delete this question_template?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
  <%= render collection: @question_template.required_fields, partial: "required_fields/list_item", as: :required_field %>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(question_template.updated_at) %> ago
  </div>
</div>
