
  <% if current_enrollment.has_upvoted_question?(question) %>
    <a href="/upvotes/<%= Upvote.find_by(enrollment: current_enrollment, post: question).id %>" data-method="delete"><i class="fas fa-sort-up"></i><%= question.upvotes.count%> </a>
    <%#= link_to "<span><i class=\"fas fa-sort-up\">#{question.upvotes.count}</span>".html_safe, Upvote.find_by(enrollment: current_enrollment, post: question), method: :delete %>

  <% else %>
    <%= form_for(Upvote.new) do |f| %>
      <%= f.hidden_field :post_id, value: question.id %>
      <%= f.hidden_field :post_type, value: "Question" %>
      <%= f.hidden_field :enrollment_id, value: current_enrollment.id %>
      <button>
        <i class="fas fa-sort-up"></i><%= question.upvotes.count %>
      </button>
    <% end %>
  <% end %>
<%= link_to question, class:"list-group-item list-group-item-action" do %>
  <span class="h6 mr-3"><%= question.title %></span>
  <div>
    <%= truncate question.body, length: 100 %>
  </div>
  <hr>
 Last updated <%= time_ago_in_words(question.updated_at) %> ago
<% end %>
